*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e927e6;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 35vh;
    height: 40vh;
}
h1,input,button,p{
    text-align: center;
}
#input{
    margin-left: 150px;
    width: 400px;
    height: 35px;
    display: grid;
    margin-top: 20px;
    border-radius: 10px;
}
button{
    width: 60px;
    height: 35px;
    background-color: #4CAF50;
    cursor: pointer;
    border: none;
    margin-left: 350px;
    margin-top: 20px;
    border-radius: 10px;
}
p{
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
h1{
    margin-top: 50px;
    
}